.input-field {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 50px;
  background-color: #34495E;
  padding: 5px;
}

.image-button {
  position: relative;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  margin-left: 2px;
  color: #8e44ad;
  font-size: 20px;
  padding: 0 5px;
  border-radius: 5px;
  transition: .3s;
  box-shadow: 0px 0px 2px  rgba(10, 10, 10, .7);
}

.image-button:hover {
  background-color: #8e44ad;
  color: #fff;
}

.image-button:active {
  background-color: #c467ec;
  color: #fff;
}

.image-button > i {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.emoji-button {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 40px;
  border: none;
  outline: none;
  margin: 0 5px;
  color: #8e44ad;
  font-size: 22px;
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: 0px 0px 5px  rgba(10, 10, 10, .7);
}

.emoji-button > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.emoji-button:hover {
  background-color: #8e44ad;
  color: #fff;
}

.emoji-button:active {
  background-color: #c467ec;
  color: #fff;
}

.input {
  display: inline-block;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  padding: 7px 10px;
  border: none;
  resize: none;
  box-shadow: 0px 0px 5px  rgba(10, 10, 10, .7);
}

.send-button {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  margin-left: 2px;
  color: #8e44ad;
  font-size: 20px;
  padding: 0 5px;
  transition: 0.3s;
  border-radius: 5px;
  box-shadow: 0px 0px 5px  rgba(10, 10, 10, .7);
}

.send-button:hover {
  background-color: #8e44ad;
  color: #fff;
}


.send-button:active {
  color: #fff;
  background-color: #8e44ad;
}
