
.input-field {
    display: flex;
    width: 100%;
    min-height: 50px;
    background-color: #ecf0f1;
    padding: 5px;
}

.button {
    margin: 0;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    margin-left: 2px;
    color: #8e44ad;
    font-size: 20px;
    padding: 0 5px;
}

.input {
    display: inline-block;
    height: 38px;
    margin-top: 2px;
    margin-left: 2px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    padding: 7px 10px;
    border: none;
    resize: none;

}

