.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 59px;
  background-color: #fafafa;
  z-index: 10;
  box-shadow: 0px 1px 5px black;
  margin-bottom: 1px;
}

.brand {
  height: 100%;
}

.brand h1 {
  display: inline-block;
  margin-left: 10px;
  padding: 10px;
  font-size: 30px;
  font-weight: 900;
  color: #275380;
  transform: rotate(-5deg);
}

.brand > h1 > span {
  display: inline-block;
  font-size: 25px;
}

.notification-container {
  position: absolute;
  top: 18px;
  right: 80px;
  float: right;
}

.notification-container > i {
  font-size: 22px;
  color: #525757;
  cursor: pointer;
}

.notification-container > i + span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 13px;
  right: -10px;
  width: 18px;
  height: 18px;
  font-size: 13px;
  font-weight: 600;
  background-color: #e74c3c;
  color: #fff;
  border-radius: 50%;
}

.notification-list {
  display: block;
  position: absolute;
  top: 33px;
  right: 0px;
  z-index: 20;
  max-width: 300px;
  width: 100vw;
  height: 300px;
  background-color: #fff;
  box-shadow: 0px 1px 2px black;
  overflow-y: auto;
}

.notification {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 2px solid #275380;
  user-select: none;
}

.notification-list > h3 {
  margin: 10px;
  user-select: none;
}

.notification-list > hr {
  height: 4px;
  background-color: #275380;
}

.notification > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.notification > span {
  width: 150px;
  margin-left: 5px;
}

.notification > p {
  margin-left: 5px;
}

.notification > .accept {
  font-size: 20px;
  padding: 5px;
  margin-left: 8px;
  color: #275380;
  background-color: rgba(200, 200, 200, 0.6);
  border-radius: 50%;
  transition: 0.3s;
}

.notification > .reject {
  font-size: 20px;
  padding: 5px 8px;
  margin-left: 10px;
  color: #e74c3c;
  background-color: rgba(200, 200, 200, 0.6);
  border-radius: 50%;
  transition: 0.3s;
}

.notification > .accept:hover {
  background-color: #275380;
  color: #fff;
}

.notification > .reject:hover {
  background-color: #e74c3c;
  color: #fff;
}

.account {
  position: relative;
  width: 60px;
  height: 60px;
  margin-right: 5px;
  padding: 5px;
  z-index: 20;
}

.user-image {
  width: 50px;
  height: 50px;
  background-color: grey;
  border-radius: 50%;
  border: 2px solid #275380;
  cursor: pointer;
}

.account-menu {
  display: none;
  position: absolute;
  top: 58px;
  right: -3px;
  width: 300px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 3px black;
  z-index: 10;
}

.account-info {
  display: inline-block;
  width: 100%;
}

.account-info > .user-image {
  margin: 5px;
  cursor: default !important;
}

.account-info > .username {
  user-select: none;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 65px;
  width: 230px;
  height: 20px;
  font-size: 16px;
  font-weight: 900;
  font-family: "Lato";
  overflow: hidden;
  text-overflow: ellipsis;
}

.account-info > .email {
  user-select: none;
  display: inline-block;
  position: absolute;
  top: 33px;
  left: 65px;
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  color: #525757;
}

.account-info > .phone {
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 45px;
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  color: #525757;
  display: none;
}

.account-info > hr {
  margin: 1px;
  border-color: #525757;
  background-color: #525757;
}

.menu-items {
  display: block;
}

.menu-item {
  display: block;
  font-size: 18px;
  padding: 8px 20px;
  cursor: pointer;
  transition: 0.3s;
  color: black;
  font-weight: 600;
}

.menu-item:hover {
  background-color: rgba(200, 200, 200, 0.6);
}

/* width */
.notification-list::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.notification-list::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
.notification-list::-webkit-scrollbar-thumb {
  background: #275380;
  border-radius: 5px;
}

/* Handle on hover */
.notification-list::-webkit-scrollbar-thumb:hover {
  background: #34495e;
}
